<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.quiz.lesson06.mapper.UrlMapper">
 	<insert id="insertUser" parameterType="map"
 	>
 		INSERT INTO `url_table`
 		(`name`,`url`,`createdAt`,`updatedAt`)
 		VALUES
 		(	#{name}
 			,#{url}
 			,NOW()
 			,NOW()
 			)
 	</insert> 
 	
 	<select id="selectUrl" resultType="com.quiz.lesson06.domain.Url">
 		SELECT
 			`id`
 			,`name`
			,`url`
			,`createdAt`
			,`updatedAt`
		FROM 
			`url_table`
			
 	</select>
 	
 	<select id="selectUrlByUrl" parameterType="string" resultType="com.quiz.lesson06.domain.Url">
 		SELECT
 			`id`
 			,`name`
			,`url`
			,`createdAt`
			,`updatedAt`
		FROM 
			`url_table`
		WHERE
			`url` = #{url}
 	</select>
 	
 	<delete id="deleteBookmarkById" parameterType="int">
 		DELETE FROM `url_table`
 		WHERE `id` = #{id}
 	</delete>
 </mapper> 